
</body>

<div class="footer-padding"></div>
  <div class="footer">

    <a class="fab fa-facebook-f" href=""></a>
    <a class="fab fa-instagram" href=""></a>
    <a class="fab fa-linkedin-in" href=""></a>
    <a class="fab fa-youtube" href=""></a>
    <p>Copyright © 2021 All right reserved</p>

  </div>

</html>
