<%- include("partials/header"); -%>

<section id="about">

<h2 class="cont">ABOUT ME</h2>
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6">
    <a href="" data-toggle="modal" data-target="#exampleModalCenter">
      <div>
          <img class="ash" src="images/aashish.jpeg" alt="">
      </div>
    </a>
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Aashish Dewangan</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
  <div class="modal-body">
  <img class="photo" src="images/aashish.jpeg" alt="">
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
  </div>
  </div>
  </div>
  </div>
  </div>

    <div class="col-lg-6">
      <p class="ash-about">I’m Aashish an engineer by education, and a business analyst by profession. I’m also a part-time photographer, hopeless wanderlust, graphic designer, and film-maker. I create photos and videos mainly in the genre of aerials, cityscapes, landscapes, travel, and adventure.</p>
      <p class="ash-about">I born in Raipur, Capital of Chhattisgarh, India. I spent my childhood in Raipur, and graduated in Chemical Engineering from the Indian Institute of Technology (BHU), Varanasi. During college, my academic exchanges and research internships have taken me all over the Taiwan. I've been living in Bengaluru for the last two years.</p>
    </div>

</div>
</section>

<%- include("partials/footer"); -%>
