<%- include("partials/header") -%>

<section id="compose">

<h2 class="cont">COMPOSE</h2>

<form  action="/compose" method="post" enctype="multipart/form-data">
  <div class="form-group">

    <input type="file" name="image" class="form-control-file" >
  </div>

  <button class="btn btn-outline-primary download-button btn-lg" type="submit">Publish</button>
</form>

</section>

<%- include("partials/footer") -%>
