<%- include("partials/header"); -%>

<section id="contact">

<div class="row">
  <div class="col-lg-6">
    <h2 class="cont">CONTACT US</h2>
    <form action="/contact" method="post">
      <div class="form-group">
        <input type="text" name="postName" placeholder="Enter your name" required>
      </div>
      <div class="form-group">
        <input type="email" name="postEmail" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <input type="phone" name="postPhone" placeholder="Enter your phone">
      </div>
      <div class="form-group">
        <textarea name="postMessage" rows="5" cols="40" placeholder="Type a message...."></textarea>
      </div>
      <div>
        <button type="submit" onclick="pop()" class="btn btn-outline-primary download-button btn-lg">Submit</button>
      </div>
    </form>
    </div>
    <div class="col-lg-6">
      <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497699.99741284817!2d77.35073230456736!3d12.953847712848582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1612165052370!5m2!1sen!2sin" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </p>
      <span class="detail">MAILLING/OFFICE ADDRESS
        <br>
      BANGALURU</span>
      <br />
      <br />
      <span style="font-size : 14px">FORE MORE ENQUIRY
        <br>
      aditidewangan1012@gmail.com</span>
    </div>
  </div>

</section>


  <%- include("partials/footer"); -%>
