<%- include("partials/header"); -%>

<section id="carousel">
  <h3 class="animated zoomIn">COLLECTIONS</h3>
  <div class="flickity">
  <div class="carousel" data-flickity='{ "freeScroll": true, "wrapAround": true ,"autoPlay": 2000 }'>
  <div class="carousel-cell">
    <a href="images/ganga-aarti.jpeg"><img class=" d-block w-100" src="images/ganga-aarti.jpeg" alt="crocus-img"></a>
  </div>
  <div class="carousel-cell">
    <a href="images/sky.jpeg"><img class=" d-block w-100"src="images/sky.jpeg" alt="crocus-img"></a>
  </div>
  <div class="carousel-cell">
    <a href="images/mountain.jpeg"><img class=" d-block w-100"src="images/mountain.jpeg" alt="crocus-img"></a>
  </div>
  <div class="carousel-cell">
    <a href="images/street-light.jpeg"><img class=" d-block w-100"src="images/street-light.jpeg" alt="crocus-img"></a>
  </div>
</div>
  </div>


  <div class="images">
    <div class="container animated slideInLeft">

       <div class="row">
   <% images.forEach(function(img){ %>
       <div class="col-lg-4 col-md-6">
      <a href="..\upload\gallery\<%=img.photo%>"><img src="..\upload\gallery\<%=img.photo%>"class="e" alt="..."></a>
      </div>

  <% }) %>

  </div></div>
  </div>

  </section>

  <%- include("partials/footer"); -%>
