<%- include("partials/header"); -%>

<section id="title">
      <div class="front">
        <h1>welcome and checkout the beautiful photos captured by me.</h1>
      </div>

</section>

<%- include("partials/footer"); -%>
