<%- include("partials/header"); -%>

<section id="sign">

<div class="row">
  <div class="animated bounceIn col-lg-6">
    <h2>CONTACT US</h2>
    <form action="/sign" method="post">
      <div class="form-group">
        <input type="text" name="postName" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <input type="email" name="postEmail" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <input type="Phone" name="postPhone" placeholder="Enter your phone">
      </div>
      <div class="form-group">
        <textarea name="postMessage" rows="5" cols="40" placeholder="Type a message...."></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-outline-info download-button btn-lg">Submit</button>
      </div>
    </form>
    </div>
    <div class="col-lg-6 map">
      <p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d497699.99741284817!2d77.35073230456736!3d12.953847712848582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1670c9b44e6d%3A0xf8dfc3e8517e4fe0!2sBengaluru%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1612165052370!5m2!1sen!2sin" width="500" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </p>
      <span>MAILLING/OFFICE ADDRESS</span>
      <p><span style="font-size : 10px">BANGALURU</span></p>
      <span style="font-size : 14px">FORE MORE ENQUIRY</span>
      <p><span  class="detail" style="font-size : 10px">aditidewangan1012@gmail.com</span></p>
    </div>
  </div>

</section>

  <%- include("partials/footer"); -%>
