html , body{
  font-family: 'Ubuntu-bold', sans-serif;
  text-align: center;
  min-height: 100vh;
  color : white;
}

/*NAVBAR*/
.navbar{
padding : 15px 80px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 14px;
letter-spacing: 5px;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
right: 0;
position: fixed;
z-index: 30;
}
.nav-item{
  padding: 2px 7px;
}
.navbar-nav  li a:hover {
    color: #17a2b8 !important;
}

/*HOME*/
.carousel-item {
  height: 100vh;
}
.slideInDown{
  padding-bottom: 180px;
}
.main{
  height : 600px;
  padding : 20px;
}
.side{
  width : 280px;
  height : 400px;
  padding : 50px 20px;
}
.content{
  color : black;
  padding : 0px 20px;
  font-family: 'Ubuntu-bold', sans-serif;
}

/*GALLERY*/
#carousel{
  padding-top: 8%;
  overflow-x: hidden;
}
h3{
  padding-top: 40px;
  color: black ;
  border-bottom: 2px solid #17a2b8 ;
  margin-right: 520px;
  margin-left: 520px;
}
.carousel-cell {
  width: 40%;
  height: 500px;
  margin-right: 10px;
  border-radius: 5px
}
.carousel-cell:before {
  display: block;
}
.flickity{
    padding: 30px 120px;
}
.images{
  padding : 55px 20px;
}
.e{
  border: 10px solid white;
  width: 400px;
  height: 350px;
}
.row img:hover{
  filter: brightness(85%);
}

/*SIGN*/
#sign{
  padding-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.bounceIn{
  padding: 0px 60px;
}
textarea{
  width: 100%;
  border : none;
  outline: none;
}
input{
 padding: 10px;
 display: block;
 width: 100%;
 height: 100%;
 border : none;
outline: none;
}
.form-group{
  border-bottom: 2px solid #17a2b8;
  padding : 15px 0px;
}
.download-button{
  margin : 0 5% 5% 0;
}

/*COMPOSE*/
#compose{
  background-color: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  background-size: cover;
  height : 100vh;
  background-position: center;
  position : relative;
  overflow: hidden;
  padding-top: 10%;
  color : black;
}

/*FOOTER*/
.footer-padding {
  position: sticky;
}
.footer {
	width: 100%;
	height: 200px;
	background-color: black;
  padding : 5%;
  font-size: 1rem;
}
.fab{
  margin : 0px 30px;
  font-size: 1.5rem;
  padding-bottom: 6%;
  color : white;
}
.footer a:hover{
  color: #17a2b8 ;
  text-decoration: none;
}

/*MEDIA*/
@media (max-width : 1000px) {

  /*NAVBAR*/
  .navbar{
    font-size: 45px;
  }
  .navbar-brand{
    font-size : 25px;
  }

  /*HOME*/
  .carousel-item{
    height : 500px;
  }
  .main{
    padding : 20px 0px;
  }
  .side{
    padding: 10px 10px;
  }
  .container-fluid{
    padding : 0px 0px;
    overflow: hidden;
  }

  /*GALLERY*/
h3{
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}
.flickity{
  padding: 30px 120px;
}
.carousel-cell{
  height : 300px;
}
.images{
  padding-right: 80px;
}

/*SIGN*/
#sign{
  padding-bottom: 80px;
  overflow: hidden;
}
.bounceIn{
  padding : 80px 0px;
}

}
